.container {
  text-align: center;
  @media screen and (max-width: 1024px) {
  // ipad
   }
}

.title{
background-image: linear-gradient(120deg, #ebedee 0%, #fdfbfb 100%);
 border-radius: 5px;
 padding-top: 5px;
 padding-bottom: 5px;
}
.icon {
  height: 120px;
  width: auto;
}
